<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>brainz.io user</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/main.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">

    	<div class="btn-group btn-group-justified" id="colors">
    		<% colors.forEach(function(el, index) { %>
    		<a href="#" class="btn btn-default" style="color: #<%= el.hex %>;" data-value="<%= el.name %>"><%= el.name %></a>
    		<% }); %>
    	</div>

		<hr />

		<div class="btn-group btn-group-justified" id="control">
			<a href="#" id="btn-start" class="btn btn-success btn-lg">Start</a>
			<a href="#" id="btn-stop" class="btn btn-danger btn-lg active">Stop</a>
			<a href="#" id="btn-send" class="btn btn-primary btn-lg">Send</a>
		</div>

		<div id="info">
		</div>

		<hr />

		Attention:<br />
		<div class="progress" id="attention">
			<div class="progress-bar progress-bar-info" style="width: 60%;"></div>
		</div>

		Meditation<br />
		<div class="progress" id="meditation">
			<div class="progress-bar progress-bar-success" style="width: 60%;"></div>
		</div>

		<!--
		<hr />
		<div id="simulator-container">
			Simulator:
			<div class="btn-group btn-group-justified" id="simulator">
				<a href="#" id="simulator-on-btn" class="btn btn-default btn-lg active">on</a>
				<a href="#" id="simulator-off-btn" class="btn btn-default btn-lg">off</a>
			</div>
		</div>
	-->
    </div> <!-- /container -->


	<!-- Modal -->
	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">No device detected</h4>
				</div>
				<div class="modal-body">
					No Neurosky device detected.  Use simulator?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" id="btn-reload" data-dismiss="modal">Reload</button>
					<button type="button" class="btn btn-primary" id="btn-enable-simulator" data-dismiss="modal">Enable Simulator</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/user.js"></script>
  </body>
</html>